<ion-view view-title="Dashboard">
  <ion-content class="padding" scroll="false">

    <div align="center" ng-if="promptRound">
      <h2>{{promptRound}}</h2>
    </div>
    <div align="center" ng-if="promptAttention">
      <h2>{{promptAttention}}</h2>
    </div>
    <div align="center" ng-if="promptAction">
      <h2>{{promptAction}}</h2>
    </div>
    <div align="center" ng-if="promptCongratulations">
      <h2  style="color: green;">{{promptCongratulations}}</h2>
    </div>

    <div align="center" ng-if="promptFailure">
      <h2 style="color: red;">{{promptFailure}}</h2>
    </div>

    <div align="center" ng-if="counter">
      <h3>Countedown {{counter}}</h3>
    </div>


    <div align="center">
      <div class="box {{box.color}}" ng-repeat="box in boxes" ng-class="{'lit': box.isLit}" ng-click="boxClick(box.id)"></div>
      <button class="button button-dark" ng-click="start()">
        Start
      </button>
    </div>

  </ion-content>
</ion-view>
