.box {
    height: 50px;
    width: 50px;
    border: 1px solid black;
    margin: 10px;
}

.green {
    background-color: green;
    opacity: 0.3;
}

.blue {
    background-color: blue;
    opacity: 0.3;
}

.red {
    background-color: red;
    opacity: 0.3;
}

.yellow {
    background-color: yellow;
    opacity: 0.3;
}

.lit {
    opacity: 1.0;
}
